html body {
    margin: 0;
    background: linear-gradient(rgb(0, 0, 0), rgb(48, 48, 48)) fixed;
    color: rgb(240, 233, 233);
    font-family:Times, serif;
}

#pageTitle {
    display: flex;
    justify-content: center;
}

#pageTitle h1 {
    text-shadow: 2px 1px grey;
    font-size: 50px;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#playerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10rem;
}

#computerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10rem;
}

button {
    height: 50px;
    width: 5rem;
    margin-right: 15px;
    background-color: black;
    color: White;
    border-radius: 4px;
    border: 1px solid gray;
    box-shadow: 5px 5px gray;
    transition: 0.07s;

}

#messageDiv {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    font-size: 30px;
}
